.sidebar-toggle {
  .icon--sidebar-toggle {
    position: fixed;
    left: 32px;
    top: 32px;
  }

  &--sidebar-hidden {
    .icon--sidebar-toggle {
      color: $color-white;

      &:hover {
        background-color: rgba(255, 255, 255, 0.165);
      }
    }
  }
}


