.theme-switch {
  display: flex;
  align-items: center;

  &__text {
    font-size: .7em;
    color: $color-white;
    text-transform: uppercase;
    cursor: pointer;
    transition: $hover-transition;

    &:hover {
      opacity: 0.75;
    }

    &.begin {
      margin-right: 8px;
    }

    &.end {
      margin-left: 8px;
    }
  }

  &__label {
    display: inline-block;
    height: 18px;
    position: relative;
    width: 44px;
  }

  &__input {
    display: none;
  }

  &__slider {
    background-color: lighten($color-blue, 20%);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;

    &:before {
      background-color: $color-white;
      bottom: 3px;
      content: "";
      height: 12px;
      left: 3px;
      position: absolute;
      transition: .4s;
      width: 12px;
    }

    &--round {
      border-radius: 18px;

      &:before {
        border-radius: 50%;
      }
    }
  }

  &--mode--dark {
    .theme-switch__slider {
      background-color: darken($color-blue, 20%);

      &:before {
        transform: translateX(26px);
      }
    }
  }
}
