.sidebar-toggle { 
  display: flex;
  position: fixed;
  left: 32px;
  top: 32px;
  color: $color-text;
  border: 1px solid $color-border;
  padding: 4px 10px 4px 4px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: $hover-transition;

  &:hover {
    background-color: $color-border;
  }

  .icon {
    width: 32px;
    height: 32px;
    margin-right: 12px;

    &:hover {
      background-color: transparent;
    }
  }

  p {
    margin: 0;
    font-size: 0.8em;
  }
}

&.sidebar--visible {
  .sidebar-toggle {
    margin-left: 28%;
  }
}

&.sidebar--hidden {
  .app__sidebar {
    z-index: 1000;
  }
  .sidebar-toggle {    
    margin-left: 0;

    &:hover {
      background-color: $color-border;
    }
  }
}



