.none--task-item {
  display: flex;

  &__link {
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    align-items: center;
    cursor: pointer;
    transition: $hover-transition;

    &:hover {
      opacity: 0.7;
    }

    .icon {
      color: $color-blue;
      background-color: $color-white;
      margin-bottom: 20px;
      border-radius: 50%;
      padding: 6px;

      &:hover {
        background-color: $color-white;
      }
    }

    p {
      color: $color-white;
      margin: 0;
    }
  }
}

// .task-list--no-items {
//   .none--task-item {
//   }
// }

.task-list--with-items {
  .none--task-item {
    &__link {
      flex-direction: row;
      margin: 0;
      padding: 16px 0;
      width: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.165);
      justify-content: center;

      .icon {
        margin-bottom: 0;
        margin-right: 10px;
        width: 32px;
        height: 32px;
      }
    }
  }
}