.app {
  &__sidebar {
    position: fixed;
    width: 28%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: $color-blue;
    transition: $hover-transition;

    .icon--collapse {
      position: fixed;
      left: 32px;
      top: 32px;
    }

    h1 {
      font-size: 1.4em;
      margin: 5em 0 1em;
      font-family: $font-header;
      text-transform: lowercase;
      font-weight: 700;
      color: $color-white;
    }

    &--sidebar-hidden {
      margin-left: -28%;
    }

    &--sidebar-visible {
      .icon--collapse {
        color: $color-white;

        &:hover {
          background-color: rgba(255, 255, 255, 0.165);
        }
      }
    }
  }

  &__content {
    display: flex;
    margin: 0;
    padding: 200px 0;
    height: 100%;
    transition: $hover-transition;

    &--sidebar-hidden {
      width: 40%;
      margin: 0 30%;

      .task-doc-editor {
        .icon {
          left: 90px;
        }
      }
    }

    &--sidebar-visible {
      margin: 0 16% 0 44%;
    }
  }
}

.theme-switch {
  display: flex;
  align-items: center;
  margin-left: 20px;

  &__label {
    display: inline-block;
    height: 18px;
    position: relative;
    width: 44px;
  }

  &__input {
    display: none;
  }

  &__slider {
    background-color: lighten($color-blue, 20%);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;

    &:before {
      background-color: $color-white;
      bottom: 3px;
      content: "";
      height: 12px;
      left: 3px;
      position: absolute;
      transition: .4s;
      width: 12px;
    }

    &--round {
      border-radius: 18px;

      &:before {
        border-radius: 50%;
      }
    }
  }

  &--dark-mode {
    .theme-switch__slider {
      background-color: darken($color-blue, 20%);

      &:before {
        transform: translateX(26px);
      }
    }
  }
}

.auth-form {
  background: $color-bg;
  border: 1px solid $color-border;
  width: 20%;
  margin: 0 auto;
  padding: 1.5%;
  border-radius: 4px;
  align-self: center;
  position: fixed;
  left: 4%;

  &__nav-links {
    display: flex;
    margin: 0 auto 36px;
    align-items: center;
    justify-content: center;
    font-family: $font-header;
    font-weight: 700;

    a {
      align-items: center;
      display: flex;
      margin: 0 0.67em;
      padding: 12px 22px;
      color: $color-text;
      cursor: pointer;
      border-radius: 30px;
      transition: $hover-transition;

      &:hover {
        color: $color-white;
        background: lighten($color-blue, 10%);
      }

      &.active {
        color: $color-blue;

        &:hover {
          color: $color-white;
          background: lighten($color-blue, 10%);
        }
      }
    }
  }

  &__error {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 80%;
    color: red;
  }

  form {
    div {
      display: flex;
      flex-direction: column;
    }

    label {
      font-size: 0.83em;
      margin-bottom: 0.25em;
    }

    input {
      width: 100%;
      height: 40px;
      margin-bottom: 0.83em;
      padding: 4px 8px;
      border: none;
      outline: none;
      font-size: 1em;
      background: transparent;
      color: $color-text;
      transition: $hover-transition;
      background: $color-border;

      &:focus {
        background: lighten($color-border, 5%);
      }
    }

    .btn {
      margin-top: 1.66em;
      height: 50px;
      border: none;
      outline: none;
      border-radius: 4px;
      cursor: pointer;
      background: $color-blue;
      color: $color-white;
      font-family: $font-header;
      font-weight: 700;
      transition: $hover-transition;

      &:hover {
        background: lighten($color-blue, 10%);
      }

      &--disabled {
        color: lighten($color-blue, 30%);
        background: lighten($color-blue, 20%);
        cursor: not-allowed;

        &:hover {
          color: lighten($color-blue, 30%);
          background: lighten($color-blue, 20%);
          cursor: not-allowed;
        }
      }
    }
  }
}

.icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text;
  border-radius: 50%;
  cursor: pointer;
  transition: $hover-transition;

  &:hover {
    background-color: $color-border;
  }
}

.authenticated-links {
  position: fixed;
  right: 32px;
  top: 32px;
  display: flex;

  &__link {
    margin-left: 0.5em;
  }
}

.task-list {
  width: 100%;
  margin-top: 5em;
  border-top: 1px solid rgba(255, 255, 255, 0.165);
}

.task-item {
  height: 64px;
  margin: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.165);

  &__name {
    width: 100%;
    height: 40px;
    margin: 0 6px 0 18px;
    padding: 4px 8px;
    border: none;
    outline: none;
    font-size: 1em;
    background: transparent;
    color: $color-white;
  }

  &--complete {
    .task-item__name {
      text-decoration: line-through;
      color: rgba(255, 255, 255, 0.67);
    }
  }

  &--focused {
    .task-item__name {
      background: rgba(255, 255, 255, 0.165);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-right: 18px;

    .icon {
      color: $color-white;
      height: 32px;
      width: 32px;
      margin-left: 0.165sem;

      &:hover {
        background-color: rgba(255, 255, 255, 0.165);
      }

      i {
        font-size: 18px;
      }
    }
  }
}

.main {
  width: 100%;
}

.task-doc-editor {
  min-height: 1000px;

  .icon {
    position: fixed;
    left: calc(28% + 32px);
    top: 32px;
  }

  .textarea {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    min-height: 1000px;
    resize: none;
    color: $color-text;
    font-family: $font-body;
    font-size: 1.6em;

    &--hidden {
      display: none;
    }
  }

  table {
    width: 100%;

    th {
      font-weight: bold;
      background: $color-text;
      color: $color-bg;
    }

    th, td {
      border: 1px solid $color-border;
      padding: 8px;
    }
  }
}


