$font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-mono: 'JetBrains Mono', monospace, sans-serif;

$gray-color-100: #F7FAFC;
$gray-color-200: #EDF2F7;
$gray-color-300: #E2E8F0;
$gray-color-400: #CBD5E0;
$gray-color-500: #A0AEC0;
$gray-color-600: #718096;
$gray-color-700: #4A5568;
$gray-color-800: #2D3748;
$gray-color-900: #1A202C;


$pop-color-100: #76aef5;
// $pop-color-200: #0971f1;
// $pop-color-300: #37468c;

$mobile-width: 600px;

$cubic-bezier: cubic-bezier(0.4, 0.0, 0.2, 1);
$hover-transition: all 0.25s $cubic-bezier;


h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.67em;
}
p {
  font-size: 1em;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: $font-sans-serif;
  transition: all 0.5s $cubic-bezier;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-mono;
}

* {
  box-sizing: border-box;
}

body.light-mode {
  background: $gray-color-100;
  color: $gray-color-600;

  h1, h2, h3, h4, h5, h6 {
    color: $gray-color-800;
  }
  
  .icon {
    color: $gray-color-600;

    &:hover {
      background: $gray-color-300;
      color: $gray-color-700;
    }
  }

  .column {
    &__title {
      border-bottom: 1px solid $gray-color-300;
    }
  }

  .task-list {
    .no-task-list-item {
      color: $gray-color-500;
    }

    &__item {
      border-bottom: 1px solid $gray-color-300;
    }
  }

  .task-item {
    background: $gray-color-100;

    &__name {
      color: $gray-color-600;
    }

    &--complete {
      .task-item__name {
        text-decoration: line-through;
        color: $gray-color-500;
      }
    }
  }
}

body.dark-mode {
  background: $gray-color-900;
  color: $gray-color-500;

  h1, h2, h3, h4, h5, h6 {
    color: $gray-color-300;
  }
  
  .icon {
    color: $gray-color-500;
    
    &:hover {
      background: $gray-color-800;
      color: $gray-color-400;
    }
  }

  .column {
    &__title {
      border-bottom: 1px solid $gray-color-800;
    }
  }

  .task-list {
    .no-task-list-item {
      color: $gray-color-600;
    }


    &__item {
      border-bottom: 1px solid $gray-color-800;
    }
  }

  .task-item {
    background: $gray-color-900;

    &__name {
      color: $gray-color-500;
    }

    &--complete {
      .task-item__name {
        text-decoration: line-through;
        color: $gray-color-600;
      }
    }
  }
}

.tasks {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  &__header {
    flex-basis: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 1% 0 2%;
  }

  &__column {
    flex-basis: 44%;
    width: 44%;
    margin: 0 4%;
    @media only screen and (max-width: $mobile-width) {
      flex-basis: 90%;
      width: 90%;
    }

    &--odd {
      margin-right: 2%;
      @media only screen and (max-width: $mobile-width) {
        margin: 3% 5%;
      }
    }

    &--even {
      margin-left: 2%;
      @media only screen and (max-width: $mobile-width) {
        margin: 3% 5%;
      }
    }
  }
}

.column {
  &__title {
    display: flex;
    width: 100%;
    align-items: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }
}

.task-list {
  .no-task-list-item {
    border-bottom: 1px solid transparent;
  }

  &__item {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-size: 1em;
  }
}

.task-item {
  height: 50px;
  margin: 0;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  

  &__actions {
    display: flex;
    align-items: center;
  }

  &__name {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-size: 1em;
    background: transparent;
  }
}

.icon {
  font-size: 1.2em;
  cursor: pointer;
  line-height: 32px;
  height: 32px;
  width: 32px;
  margin-right: 0.25em;
  text-align: center;
  border-radius: 50%;
  transition: $hover-transition;

  &--create-task {
    margin-left: auto;
  }
  
  &--drag-task {
    cursor: move;
    margin-right: 1.5em;
    
    @media only screen and (max-width: $mobile-width) {
      margin-right: .5em;
    }
  }
}

.task-dropzone {
  height: 8px;
  transition: $hover-transition;

  &--active {
    height: 24px;
    background: $pop-color-100;
  }
}

.theme-switch {
  display: flex;
  align-items: center;
  margin-left: 20px;

  &__label {
    display: inline-block;
    height: 26px;
    position: relative;
    width: 50px;
  }

  &__input {
    display: none;
  }

  &__slider {
    background-color: $gray-color-400;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;

    &:before {
      background-color: #fff;
      bottom: 4px;
      content: "";
      height: 18px;
      left: 4px;
      position: absolute;
      transition: .4s;
      width: 18px;
    }

    &--round {
      border-radius: 26px;

      &:before {
        border-radius: 50%;
      }
    }
  }

  &--dark-mode {
    .theme-switch__slider {
      background-color: $pop-color-100;

      &:before {
        transform: translateX(24px);
      }
    }
  }
}

