$font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-header: 'Montserrat', Helvetica, Arial, sans-serif;

$color-blue: rgb(20, 80, 210);
$color-white: rgb(255, 255, 255);
$color-black: rgb(30, 30, 30);

$cubic-bezier: cubic-bezier(0.4, 0.0, 0.2, 1);
$hover-transition: all 0.25s $cubic-bezier;

body {
  margin: 0 auto;
  padding: 0;
  font-family: $font-body;
  transition: all 0.5s $cubic-bezier;
}

body, html, #root, .app {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.6em;
}

h6 {
  font-size: 1.3em;
}

p, ul li {
  font-size: 1.3em;
}

body.mode--light {
  $color-bg: rgb(255, 255, 255);
  $color-text: lighten(rgb(30, 30, 30), 30%);
  $color-border: darken($color-bg, 10%);

  // styles
  background: $color-bg;
  color: $color-text;

  // imports
  @import '../../component-core/Sidebar/sidebar.scss';
  @import '../../component-core/Logo/logo.scss';
  @import '../../component-core/ThemeSwitch/theme-switch.scss';
  @import '../../component-core/Icon/icon.scss';
  @import '../../component-core/SidebarToggle/sidebar-toggle.scss';
  @import '../../component-core/Content/content.scss';
  @import '../../component-core/AuthForm/auth-form.scss';
  @import '../../component-core/ImageRandomizer/image-randomizer.scss';
}

body.mode--dark {
  $color-bg: rgb(30, 30, 30);
  $color-text: darken(rgb(255, 255, 255), 30%);
  $color-border: lighten($color-bg, 10%);

  // styles
  background: $color-bg;
  color: $color-text;
  
  // imports
  @import '../../component-core/Sidebar/sidebar.scss';
  @import '../../component-core/Logo/logo.scss';
  @import '../../component-core/ThemeSwitch/theme-switch.scss';
  @import '../../component-core/Icon/icon.scss';
  @import '../../component-core/SidebarToggle/sidebar-toggle.scss';
  @import '../../component-core/Content/content.scss';
  @import '../../component-core/AuthForm/auth-form.scss';
  @import '../../component-core/ImageRandomizer/image-randomizer.scss';

}
