$font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-mono: 'JetBrains Mono', monospace, sans-serif;

$gray-color-100: #F7FAFC;
$gray-color-200: #EDF2F7;
$gray-color-300: #E2E8F0;
$gray-color-400: #CBD5E0;
$gray-color-500: #A0AEC0;
$gray-color-600: #718096;
$gray-color-700: #4A5568;
$gray-color-800: #2D3748;
$gray-color-900: #1A202C;

$pop-color-100: #76aef5;
$pop-color-200: #0971f1;
$pop-color-300: #37468c;

$mobile-width: 600px;
$offset-top: 64px;
$offset-left: 24%;
$cubic-bezier: cubic-bezier(0.4, 0.0, 0.2, 1);
$hover-transition: all 0.25s $cubic-bezier;

body {
  margin: 0 auto;
  padding: 0;
  font-family: $font-sans-serif;
  transition: all 0.5s $cubic-bezier;
}

* {
  box-sizing: border-box;
}

body, html, #root, .app {
  width: 100%;
  height: 100%;
}

body.light-mode {
  $color-bg-1: $gray-color-100;
  $color-bg-2: $gray-color-200;
  $color-bg-3: $gray-color-300;

  $color-text-1: $gray-color-400;
  $color-text-2: $gray-color-500;
  $color-text-3: $gray-color-600;  
  $color-text-4: $gray-color-700;

  $border: 1px solid $color-text-1;

  $loader-overlay-color: rgba(255, 255, 255, 0.4);
  $loader-border: 6px solid rgba(0, 0, 0, 0.1);
  $loader-border-left-color: $gray-color-700;

  // styles
  background: $color-bg-1;
  color: $color-text-2;

  @import 'base.scss';
}

body.dark-mode {
  $color-bg-1: $gray-color-900;
  $color-bg-2: $gray-color-800;
  $color-bg-3: $gray-color-700;

  $color-text-1: $gray-color-600;
  $color-text-2: $gray-color-500;
  $color-text-3: $gray-color-400;  
  $color-text-4: $gray-color-300;

  $border: 1px solid $color-text-1;

  $loader-overlay-color:rgba(0, 0, 0, 0.4);
  $loader-border: 6px solid rgba(255, 255, 255, 0.1);
  $loader-border-left-color: $gray-color-400;

  // styles
  background: $color-bg-1;
  color: $color-text-2;

  @import 'base.scss';
}

