.authed-links {
  position: fixed;
  right: 32px;
  top: 32px;
  display: flex;

  &__link {
    margin-left: 1em;

    .icon {
      margin-bottom: 0.33em;
    }

    p {
      margin: 0;
      color: $color-text;
      font-size: 0.83em;
      text-align: center;
      transition: $hover-transition;
    }

    &:hover {
      p {
        opacity: 0.5;
      }
    }
  }
}

