.authed-links {
  position: fixed;
  right: 32px;
  top: 32px;
  display: flex;

  &__link {
    border: 1px solid $color-border;
    width: 64px;
    margin-left: 16px;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

    .icon {
      width: 32px;
      height: 32px;
      margin-bottom: 0.33em;

      &:hover {
        background-color: transparent;
      }
    }

    p {
      margin: 0;
      color: $color-text;
      font-size: 0.8em;
      text-align: center;
      transition: $hover-transition;
    }

    &:hover {
      background-color: $color-border;
    }
  }
}

